<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Product Groups",
        icon: "<%= asset_path('favicon.ico') %>"
      });
    });
  </script>
<% end %>

<h2>Product Groups</h2>

<ul>
  <% @product_groups.each do |pg| %>
    <li><%= link_to pg.name, pg %></li>
  <% end %>
</ul>
